
.product{
    min-height: 400px;
    height: auto;
    cursor: pointer;
    height: auto;
    border: 1px solid;
    .section-img-product{
        max-width: 300px;
        height: 70.3%;
        background-color: rgb(212, 212, 212);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        img{
            width: 100%;
            max-width: 200px;
        }
    }
    .section-describe-product{
        padding: 2px 10px;
        padding-top: 10px;
        height: 20%;
        border-top: 1px solid;
        div{
            display: flex;
            justify-content: space-between;
            p{
                color: rgb(7, 7, 7);
            }
            div{
                
                div{
                    width: 15px;
                    height: 15px;
                    border: 2px solid rgb(155, 155, 155);
                    margin-right: 3px;
                }
            }
        }
        
    }
}
.product:hover{
    scale: 1.1;
    transition: scale 0.3s;
    
}
@media only screen and (max-width:700px) {
    .product{
        .section-describe-product{
            p{
                font-size: 16px;
            }
        }
    }
}
@media only screen and (max-width:400px) {
    .product{
        .section-describe-product{
            padding: 13px 15px;
            p{
                font-size: 13px;
            }
        }
    }
}